<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cgg.administrator.myshow">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".application.MyShowApplication"
        android:allowBackup="true"
        android:icon="@mipmap/cat"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"> <!--使此activity强制竖屏-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Robot.RobotActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".Today.TodayActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".Modle.ModlePicActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Modle.ModelDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Modle.ImagePagerActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".PetalBenefit.PetalBenefitActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".PetalBenefit.PetalWebActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".BeautifulPic.BeautifulpicActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".Pure.PureActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".Joke.JokeActivity"
            android:screenOrientation="portrait"/>


    </application>

</manifest>